<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bible Study</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>

  <body>
    <div class="col-lg-8 mx-auto p-4 py-md-5">
      <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
          <a class="text-decoration-none link-dark d-flex align-items-center" href="index.html">
            <h1>Bible Study</h1>
          </a>
       
      </header>

      <main>
        <div class="container py-4">
          <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
              <h1 class="display-6 fw-bold">1 Thessalonians 4:11</h1>
              <p class="fs-4">“... aspire to live quietly, and to mind your own affairs, and to work with your hands, as we instructed you,”</p>
                <a href="https://www.bible.com/bible/59/1th.4.ESV" target="_blank" class="btn">Read the full chapter</a>
            </div>
          </div>
        </div>
        <div class="container py-4">
          <h3>Information</h3>
          <table class="table table-hover">
            <tr>
              <th>Date</th>
              <td>May 9th, 2023</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>Aspire only to live a simple life for God.</td>
              </tr>
          </table>
        </div>
        <div class="container py-4">
            <h3>Notes</h3>
            <table class="table table-hover">
                <tr>
                    <td>The verse goes on to acknowledge that living a humble life and working is the only way to earn respect from peers.</td>
                </tr>
                <tr>
                    <td>Humility and hard work leads to independence, so lowering yourself makes you more powerful.</td>
                </tr>
            </table>
        </div>
        <div class="container py-4">
            <h3>Connections</h3>
            <table class="table table-hover">
                <tr>
                    <th>Proverbs 17:28</th>
                    <td>"Even a fool who keeps silent is considered wise; when he closes his lips, he is deemed intelligent." This verse emphasizes the value of living quietly and not speaking foolishly.</td>
                </tr>
                <tr>
                    <th>Proverbs 14:23</th>
                    <td>"In all toil there is profit, but mere talk tends only to poverty." This verse highlights the importance of working diligently and not being idle.</td>
                </tr>
                <tr>
                    <th>Philippians 4:11-12</th>
                    <td>"Not that I am speaking of being in need, for I have learned in whatever situation I am to be content. I know how to be brought low, and I know how to abound. In any and every circumstance, I have learned the secret of facing plenty and hunger, abundance and need." This verse connects to the concept of contentment and finding satisfaction in life's circumstances.</td>
                </tr>
                <tr>
                    <th>2 Thessalonians 3:10</th>
                    <td>"For even when we were with you, we would give you this command: If anyone is not willing to work, let him not eat." This verse emphasizes the importance of working with one's hands and not being lazy.</td>
                </tr>
                <tr>
                    <th>Ecclesiastes 9:10</th>
                    <td>"Whatever your hand finds to do, do it with your might, for there is no work or thought or knowledge or wisdom in Sheol, to which you are going." This verse connects to the concept of working diligently and doing one's best.</td>
                </tr>
            </table>
        </div>
      </main>

      <footer class="footer pt-5 my-5 text-muted border-top">
        <div class="container">
          <img class="fit-picture" src="/images/bible-study.png" height="40">
          <p class="mt-4">Created by Adam Ballinger · © 2023</p>
        </div>
      </footer>

    <script src="script.js"></script>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>

</html>